*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.canver {
  background-image: url(../images/background2.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canver__title {
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #fff;
  border-radius: 15px;
}

.canver__top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}

.canver__top-box {
  padding: 20px;
  background-color: #20202040;
  border-radius: 15px;
  text-align: center;
}

.canver__box-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}

.canver__row-box,
.canver__bottom-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.canver__row-select,
.canver__bottom-select {
  padding: 20px 10px;
  font-size: 20px;
  background-color: #20202055;
  color: #fff;
  border: none;
}

.canver__bottom {
  margin-top: 25px;
}

.input {
  font-size: 20px;
  margin-top: 15px;
  border: none;
  background-color: #20202055;
  color: #fff;
  padding: 20px 10px;
  width: 100%;
  outline: none;
}

.canver__bottom-input {
  font-size: 30px;
  text-align: center;
  background-color: transparent;
}

.input:focus {
  border-color: cornflowerblue;
  -webkit-box-shadow: 0px 0px 20px 0px cornflowerblue;
  -moz-box-shadow: 0px 0px 20px 0px cornflowerblue;
  box-shadow: 0px 0px 20px 0px cornflowerblue;
}

@media(max-width: 500px) {
  .canver__top-box {
    padding: 10px;
  }
  
  .canver__box-title,
  .canver__box-value{    
    font-size: 17px;
    line-height: 21px;
  }

  .canver__row-box,
  .canver__bottom-box {
    font-size: 17px;
    line-height: 21px;
  }
  
  .canver__row-select,
  .canver__bottom-select {
    padding: 15px;
    font-size: 17px;
    line-height: 21px;
  }
  
  .input {
    padding: 15px;
    font-size: 17px;
    line-height: 21px;
  }
}

@media(max-width: 410px) {
}